<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /examples/imd402/kohana/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /examples/imd402/kohana/index.php [L]
</IfModule>
# END WordPress